body{
	font-family: 'Noto Sans JP', sans-serif;
	margin: 0;
	padding: 0;
}

.container{
	max-width: 600px;
	width: 100%;
	margin: 0 auto;
	background-color: #f4f4f4;
}

header{
	width: 100%;
	height: 40px;
	padding: 0px 6px;
	background-color: #444;
	box-sizing: border-box;
}

header h1{
	font-family: 'Signika', sans-serif;
	font-size: 14px;
	font-weight: bold;
	margin: 0;
	padding: 0;
	color: #fff;
	line-height: 40px;
}

.btn{
	display: block;
	position: fixed;
	right: 10px;
	bottom: 10px;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	box-shadow: none;
	border: none;
}

.todo .noedit{
	background-color: transparent;
	border: none;
}

.todo-wrap{
	clear: both;
	padding: 10px 6px;
	box-sizing: border-box;
	border-bottom: 1px solid #ccc;
}

.del{
	display: none;
	font-weight: normal;
	font-size: 0.8em;
	float: right;
}

.active .del{
	display: inline;
}